

@font-face
{
font-family: Cinzel;
src: url(../fonts/cinzel.woff);
}


@font-face
{
font-family: Arapey;
src: url(../fonts/arapey.woff);
}

@font-face
{
font-family: nixieone;
src: url(../fonts/nixieone.woff);
}
@font-face
{
font-family: Gilda;
src: url(../fonts/Gilda.woff);
}

@font-face
{
font-family: Josefinslab;
src: url(../fonts/Josefinslab.woff);
}
@font-face
{
font-family: Rokkitt;
src: url(../fonts/Rokkitt.woff);
}

@font-face
{
font-family: Rokkitt;
src: url(../fonts/Pompiere.woff);
}


body
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	background-color: #f7f7f7;
	z-index:0;
	min-width: 1250px;
	
}

header{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	width: 95%;
	min-width: 900px;
	min-width: 900px;
	height: 40px;
	background-color: #9B1D33;
	border-radius: 25px;
	color: white;
	font-weight:bold;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	z-index:1;
}

header ul{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	height: 40px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header ul li{
		display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-flex:1;
	cursor: pointer;
}


header a
{
	text-decoration: none;
	color: white;
}


header li:hover
{
	text-decoration: underline;	
}
header a:hover
{
	text-decoration: underline;
}

#loginBox
{
	display: -webkit-box;
	-webkit-box-orient:vertical;
	position:absolute;
	top: 45px;
	left: 100px;
	width: 320px;
	height: 0px;
	background-color: #9B1D33;

	transition:height 500ms;
	-webkit-transition: height 500ms;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#formLogin
{
	display:none;
}
#formLogin input
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	color: #F60;
	margin-left:5px;
	margin-top:5px;
}


#formLogin button
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}
section
{
	margin-top: 10px;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
	width: 100%;
	min-height: 400px;
	z-index:1;
	
	
}

aside
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:0;
	width: 250px;
	padding-top: 20px;
	margin-right: 50px;
	background-image:url(../images/logoManosTransparent3.png);
	background-position:bottom;
	
	background-repeat:no-repeat;
	background-size:contain;
	z-index:1;
	
	border-right: 1px inset gray;
	margin-right: 10px;

}

aside img
{ 
	text-align: center;
	padding:0;
	margin: 0px;
	width: 200px;
}

#line1Aside{
	width: 265px;
	text-align: center;
}
#menuPrincipal
{
	list-style: none;
	padding-left: 0px;
	margin-top: 0;
	margin-top: 0;
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


#menuPrincipal li
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 50px;
	background-color: #9B1D33;
	
	color: white;
	border: #9F1200 outset 1px;
	
}

#menuPrincipal li.selected{
	background-color: white;
	color:#9B1D33;
	font-weight:bold;
	
	}

#menuPrincipal li:hover
{
	background-color:white;
	color: #111940;
	border: #333 inset 1px;
	cursor: pointer;
	
}



nav{
	
 	margin-top: 30px;
	height: 42px;
	width: 95%;
	margin-left: 20px;
	margin-right: 20px;
	
	
}

nav ul{
	border-bottom: 1px solid #333;
	padding: 0;
	margin: 0;
	position: relative;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: end;
	-webkit-box-align: end;
	list-style: none;
	padding-right: 30px;
		
	
	
}

nav li{
	
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: end;
	-webkit-box-pack: center;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #111940;
	
	position: relative;
	bottom: -1px;
	
	text-align:center;
	height: 25px;
	width: 100px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #9B1D33;
	color: white;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor:pointer;

	 
	
}


nav li:hover{
	
	background-color: #222;
	color: #FFF;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #111940;
	
}



.activeTag
{
	background-color: #f7f7f7;
	color: #14471c;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #f7f7f7;
	
	

}


#articleList
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
	padding-top: 30px;

}



#articleInsert
{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	
	
	display: none;
	position: relative;
	top: -26px;
	left: 0px;

	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}


#articleCategories
{
	display: none;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}


#articleLessons{
	
	display: none;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}

#articleReport{
	
	display: none;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}


.insertTitle{
	
	text-align: center;

 font-family: 'Simonetta', cursive;
 font-size: 16px;
 color:#111940;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}













footer
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-left:20px;
	
	
	display:-webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: end;
	margin-top: 10px;
	
	background-image:url(../images/fondoFooter.png);
	background-size:contain;
	background-repeat:repeat-x;
	
	height: 50px;
	width: 95%;
	border-radius: 5px;
	color: white;
	z-index: 1;
}
footer div
{
	-webkit-box-flex: 1;
}

#leftFooter
{
	padding-left: 10px;
}
#rightFooter
{
	text-align:end;
	
}

footer img
{
	width:90px;
	height: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}



footer p
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	margin:0px;
	padding-right: 20px;	
}



#spanFooter{
	color: #900;
	
	
}



#headerTbl
{
	background-color:#FFF;
	color: black;
}

#logoutBox
{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding-left:10px;
	padding-right: 10px;
	height: 30px;
	width: 200px;
	
}
#logoutP
{
	display: none;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
	color: #FFC;
}

#logoutBox button
{

	height: 25px;
	width: 45px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}

#logout1
{
	display: none;	
}

#logout2
{
	display: none;	
}

.searchTitle{
	
	text-align: center;
	padding: 0px;
	margin: 0px;
 font-family: 'Simonetta', cursive;
 font-size: 16px;
 color:#9B1D33;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}


#videoCapture{
	
	width: 200px;
	height: 150px;
	border: 1px outset white;
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	
}
#videoCanvas{
	
	width: 120px;
	height: 150px;
	border: 1px outset white;
	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	
}

#picBtn{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #900;
	width: 200px;
	
}

#containerUserInfo{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	border: 1px inset white;
	
}


#leftContainerUserInfo{
	
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 140px;
}

#rightContainerUserInfo{
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 775px;
	min-width: 400px;
	width: 100%;
	-webkit-box-flex:1;
	font-family: 'Gilda Display', serif;
	
	
}

.line1RightContainer{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 50px;
}

.line1RightContainer input{
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
	font-size: 14px;
}

#containerSecurityInfo{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	border: 1px outset white;
	margin-top: 20px;
	
}



.line2RightContainer{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	height: 50px;
	width: 100%;
	
}

.line2RightContainer input{
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
	font-size: 14px;
}

#containerContactInfo{
		display: -webkit-box;
	-webkit-box-orient: vertical;
	border: 1px inset white;
	margin-top: 20px;
	
}

.line2RightContainer button{
	
	width: 500px;
	font-size: 18px;
	color: #900;
	padding: 3px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	margin-top: 20px;
	padding: 0px;
	
}

#canvasImg{
	width: 120px;
	height: 150px;
}


#rectanglePicture{

	position: absolute;
	left: 90px;
	top: 160px;
	visibility:hidden;
	border: 1px solid red;
	width: 80px;
	height: 100px;
}


.required{
	color: #B00;
}



@media only screen and (max-width: 1000px) {
	


}



@media only screen and (max-width: 1024px) {
	
	#loginBox{
	
	width: 410px;
	}

	header{
		min-width: 750px;
	}


	
	
}
	
	
	
#forgetPass{
	position:relative;
	top: -5px;
	font-size: 10px;
	color: #FFF;
	margin-left: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
	
	
	#loginCont{
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 310px;
	height:30px;
}

#PassReset{
	height: 10px;
	width: 310px;
	
}
#PassReset a{
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
}

#line1Login{
	
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}