/* CSS Document */



/* CSS Document

display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;
-ms-flex:
flex-direction: column, row;

text-align:right;

-ms-flex: 0  /// delete

 */

p, h1, h2 {
	margin: 0px;
	padding: 0px;
	
	}

@font-face
{
font-family: Cinzel;
src: url(../fonts/cinzel.woff);
}


@font-face
{
font-family: Arapey;
src: url(../fonts/arapey.woff);
}

@font-face
{
font-family: nixieone;
src: url(../fonts/nixieone.woff);
}
@font-face
{
font-family: Gilda;
src: url(../fonts/Gilda.woff);
}

@font-face
{
font-family: Josefinslab;
src: url(../fonts/Josefinslab.woff);
}
@font-face
{
font-family: Rokkitt;
src: url(../fonts/Rokkitt.woff);
}

@font-face
{
font-family: Rokkitt;
src: url(../fonts/Pompiere.woff);
}




p{
	padding: 0px;
	margin: 0px;
}

body
{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	background-color: #f7f7f7;
	z-index:0;
	max-width: 1300px;
	min-width: 1300px;
}

header{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	width: 95%;
	min-width: 900px;
	height: 40px;
	background-color: #9B1D33;
	border-radius: 25px;
	color: white;
	font-weight:bold;
	-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	z-index:1;
}

header ul{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	height: 40px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	
}

header ul li{
		display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-ms-flex:1;
	cursor: pointer;
}


header a
{
	text-decoration: none;
	color: white;
}


header li:hover
{
	text-decoration: underline;	
}
header a:hover
{
	text-decoration: underline;
}

#loginBox
{
	position:absolute;
	top: 45px;
	left: 100px;
	width: 320px;
	height: 0px;
	background-color: #9B1D33;
	transition:height 500ms;
	-ms-transition: height 500ms;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#formLogin
{
	display:none;
}
#formLogin input
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	color: #F60;
	margin-left:5px;
	margin-top:5px;
}


#formLogin button
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}
section
{
	margin-top: 10px;
	margin-bottom: 10px;
	display:-ms-flexbox;
	flex-direction: row;
	
	width: 100%;
	min-height: 400px;
	z-index:1;
	
	
}

aside
{
	display:-ms-flexbox;
	flex-direction: column;
	
	
	width: 250px;
	padding-top: 20px;
	margin-right: 50px;
	background-repeat:no-repeat;
	background-size:contain;
	z-index:1;

}

aside img
{ 
	text-align: center;
	padding:0;
	margin: 0px;
	width: 200px;
}

#line1Aside{
	width: 265px;
	text-align: center;
}
#menuPrincipal
{
	list-style: none;
	padding-left: 0px;
	margin-top: 0;
	margin-top: 0;
		-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}


#menuPrincipal li
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 50px;
	background-color: #9B1D33;
	
	color: white;
	border: #9F1200 outset 1px;
	
}


#menuPrincipal li:hover
{
	background-color:white;
	color: #111940;
	border: #333 inset 1px;
	cursor: pointer;
	
}

#menuPrincipal li.selected{
	background-color: white;
	color:#9B1D33;
	font-weight:bold;
	
	}

nav{
	
 	margin-top: 30px;
	height: 42px;
	width: 95%;
	margin-left: 20px;
	margin-right: 20px;
	
	
}

nav ul{
	border-bottom: 1px solid #333;
	padding: 0;
	margin: 0;
	position: relative;
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-pack: end;
	-ms-flex-align: end;
	list-style: none;
	padding-right: 30px;
		
	
	
}

nav li{
	
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: end;
	-ms-flex-pack: center;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #111940;
	
	position: relative;
	bottom: -1px;
	
	text-align:center;
	height: 25px;
	width: 100px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #9B1D33;
	color: white;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor:pointer;

	 
	
}


nav li:hover{
	
	background-color: #222;
	color: #FFF;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #111940;
	
}



.activeTag
{
	background-color: #f7f7f7;
	color: #14471c;
	border-top: 1px solid #111940;
	border-left: 1px solid #111940;
	border-right: 1px solid #111940;
	border-bottom: 1px solid #f7f7f7;
	
	

}


#articleList
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-pack: center;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
	
}



#articleInsert
{
	display:-ms-flexbox;
	flex-direction: row;
	
	
	display: none;
	position: relative;
	top: -26px;
	left: 0px;

	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}





#leftArticleInsert
{
	display:-ms-flexbox;
	-ms-flex-pack: center;
	margin-top: 30px;
	
	width: 650px;
	min-height: 500px;
	
	
	
}

#rightArticleInsert
{
	padding-top: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	
	border-left: 1px inset white;
	width: 300px;
	min-height: 450px;
	
	background-image:url(../images/logoManosTransparent.png);
	background-position:bottom;
	background-repeat:no-repeat;
		
}






#articleCategories
{
	display: none;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
	
	
}


#articleLessons{
	
	display: none;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
}

#articleReport{
	
	display: none;
	flex-direction: row;
	-ms-flex-align: start;
	-ms-flex-pack: center;
	position: relative;
	top: -26px;
	left: 0px;
	
	width: 74%;
	min-height: 500px;
	margin-right: 10px;
	z-index: 1;
	
	
	}


.insertTitle{
	
	text-align: center;

 font-family: 'Simonetta', cursive;
 font-size: 16px;
 color:#111940;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}


.insertTitle2{
	
	text-align: center;

 font-family: 'Simonetta', cursive;
 font-size: 22px;
 color:#800;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}


.insertTitle4{
	
	text-align: center;
	padding: 0px;
	margin: 0px;
 font-family: 'Simonetta', cursive;
 font-size: 18px;
 margin-bottom: 5px;
 color:#111940;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}












footer
{
	display:-ms-flexbox;
	flex-direction: row;
	margin-left:20px;
	
	
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: end;
	margin-top: 10px;
	
	background-image:url(../images/fondoFooter.png);
	background-size:contain;
	background-repeat:repeat-x;
	
	height: 50px;
	width: 95%;
	border-radius: 5px;
	color: white;
	z-index: 1;
}
footer div
{
	-ms-flex: 1;
}

#leftFooter
{
	padding-left: 10px;
}
#rightFooter
{
	text-align:end;
	
}


footer img
{
	width:90px;
	height: 45px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}



footer p
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	margin:0px;
	padding-right: 20px;	
}



#spanFooter{
	color: #900;
	
	
}





#headerTbl
{
	background-color:#FFF;
	color: black;
}

#logoutBox
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	padding-left:10px;
	padding-right: 10px;
	height: 30px;
	width: 200px;
	
}
#logoutP
{
	display: none;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
	color: #FFC;
}

#logoutBox button
{

	height: 25px;
	width: 45px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
}

#logout1
{
	display: none;	
}

#logout2
{
	display: none;	
}




#leftArticle
{
	display: -webikit-box;
	-ms-flex-pack: center;
	width: 600px;
	margin-top: 10px;
}


#nameSearch{
	width: 100px;
	padding: 1px;
	font-size:18px;
	font-size: 14px;
	padding: 2px;
	font-size: 16px;
	color: #900;
}

#lastSearch{
		width: 150px;
	padding: 1px;
	
	
padding: 2px;
	font-size: 16px;
	color: #900;
	}

#emailSearch{
		width: 200px;
	padding: 2px;
	font-size: 16px;
	color: #900;
}

#actionSearch{
		width: 100px;
	padding: 2px;
	font-size: 16px;
	color: #900;
	
}
#lineContainer
{
	width: 550px;
	display:-ms-flexbox;
	flex-direction: row;
	margin-top: 2px;
	margin-left: 20px;
	border-bottom: 1px dotted gray;
}

#lineContainer:hover
{
	background-color: #FFC;
}

#NameColumn
{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-align:center;
	width: 100px;
}

#LastColumn
{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-align:center;
	width: 150px;
}

#EmailColumn
{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-align:center;
	width: 200px;
}

#ActionColumn
{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-align:center;
	width: 100px;
}

#ActionColumn img
{
	width: 15px;
	
}

#containerList
{
	overflow:auto;
	height: 500px;
	
}



#rightArticle
{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-pack: start;
	-ms-flex-align: center;
	margin-left: 10px;
	margin-top: 10px;
	border-left: 1px inset white;
	width: 300px;
	min-height: 400px;
	max-height: 500px;
	background-image:url(../images/logoManosTransparent.png);
	background-position:bottom;
	background-repeat:no-repeat;

}

#rightArticle ul
{
	padding: 0px;
	margin: 0px;
	margin-left:0px;
	width: 90%;

	list-style: none;
	-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	

		
}

#rightArticle li
{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	background-color: #FFF;
	color: #222;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	border: 1px inset white;
		
	height: 40px;
	cursor: pointer;
		
}

#rightArticle li:hover
{
	background-color: #222;
	color: #FFF;
}


#boxSearch
{
	display:none;
	-ms-flex-align: start;
	-ms-flex-pack: center;
	width: 250px;
	height: 150px;
	border: 1px inset #CCC;
	margin-left: 0px;
	background-color: #fff;
	-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	opacity: 0.9;
	transition:ease-in-out 1s;
	
}

#boxSearch input{
	padding: 2px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	width: 200px;
	
}

#boxSearch button{
	
	margin-top: 10px;
	padding: 2px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	width: 150px;
	
}

#boxSearch form{
	text-align:center;
	margin-top: 10px;
}



#formSearchName{
	
	display: none;
}


#formSearchLast{
	
	display: none;
}


#formSearchEmail{
	
		display: none;
}
	
#formSearchTempleId{
		
		display: none;
}
#topList
{
	
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-pack: center;
}

	

.searchTitle{
	
	text-align: center;
 margin-top: 15px;
 font-family: 'Simonetta', cursive;
 font-size: 16px;
 color:#9B1D33;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}
.modalTitle{
 
 padding: 0px;
 margin: 0px;
 text-align: center;
 font-family: 'Simonetta', cursive;
 font-size: 18px;
 color:#060;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}


#articleInsert form
{
	margin-top: 20px;
}


.lineInserUserForm
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	margin-top: 15px;
}

.lineInserUserForm input
{
	
	display:-ms-flexbox;
	flex-direction: row;
	font-family: 'Rokkitt', serif;
	font-size: 14px;
	color: #900;
	margin-right: 10px;
	width: 100px;
	
}

.lineInserUserForm select
{
	
	display:-ms-flexbox;
	flex-direction: row;
	padding: 3px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	color: #900;
	margin-right: 10px;
	width: 180px;
	padding: 3px;
}


.labelInsert
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	width: 100px;
	
}




.lineInserUserForm2
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	margin-top: 5px;
}

.lineInserUserForm2 input
{
	
	display:-ms-flexbox;
	flex-direction: row;
	font-family: 'Rokkitt', serif;
	font-size: 14px;
	color: #900;
	margin-right: 10px;
	width: 362px;
	
}

.lineInserUserForm2 li{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	list-style: none;
	width: 250px;
	background-color: #9B1D33;
	color: white;
	-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	cursor:pointer;
	margin-right: 20px;
}



.lineInserUserForm3
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	margin-top: 15px;
}

.lineInserUserForm3 input
{
	
	display:-ms-flexbox;
	flex-direction: row;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	color: #900;
	margin-right: 10px;
	width: 208px;
	
}




.lineInserUserForm2 li:hover{
	
	background-color: #FFF;
	color: #9B1D33;
	
}

.lineInserUserForm2 li:active{
	
	background-color: #222;
	color: white;
	}


.lineInserUserForm4
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	margin-top: 5px;
}


.lineInserUserForm4 button
{
	margin-top: 30px;
	width: 400px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	color: #900;
	padding: 5px;
	
	
}


.lineInserUserForm6
{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	margin-top: 5px;
	margin-left: 20px;
	
	
}

.lineInserUserForm7
{
	display:-ms-flexbox;
	flex-direction: row;
	margin-top: 5px;
	margin-left: 20px;
	width: 230px;
}

#box1
{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight:bold;
	width: 70px;
}
#box1 p{
	
	color: #900;
	
}

#box2
{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight:bold;
	width: 70px;
}

#box2 p{
	text-align:center;
	color: #900;
	
}

#box3
{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight:bold;
	width: 70px;
}
#box3 p{
	text-align:center;
	color: #900;
	
}



#sentImageWindow
{
display: none;
position: absolute;
left: 1px;
top: 133px;
width: 250px;
height: 0px;
background-color: #333;
opacity: 0.9;	
-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
transition: ease-in-out 300ms;
}

#sentImageWindow input
{
	color: white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	
}

#buttonSendImagen
{
	margin-left: 50px;
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	padding: 4px;
	width: 150px;
	color: #900;
	
}

#buttonSendImagen2
{
position: absolute;
top: 60px;
width: 150px;
left: 35px;
height: 20px;
	
}

#formImage
{
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
	
}



#modalDisplay{
	
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	opacity:1;

	-ms-transition: opacity 400ms ease-in;
	z-index:1000;
}
#editDisplayBox
{
	display: -ms-flexbox;;
	flex-direction: row;
	
	position:fixed;
	top: 50px;
	left: 200px;
	width: 700px;
	height:500px;
	background: -ms-linear-gradient(#fff, #999);
	border-radius: 15px;
	opacity:1;
	-ms-transition: opacity 100ms ease-in;
	-ms-box-shadow: 3px 3px 3px rgba(255,255,255,0.5);

	
	
	
}


#leftSideView
{
	

border-right: 2px inset gray;
width: 270px;
margin-top: 10px;
margin-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
background-image:url(../images/temple2.png);
background-position:bottom;
background-repeat:no-repeat;

	
}

contImage{
		display:-ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		width: 248px;
		
}
#leftSideView img
{

	
	margin-left: 50px;
	width: 150px;
	height: 200px;
}

.line1{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
}

#line2{
	text-align: center;
	margin-top: 30px;
	font-size:24px;
	color: #006;
	text-shadow: 2px 2px rgba(153,153,153,0.5);
}

.widthLine1
{
	width: 70px;
	color: #900;
	font-family: 'Pompiere', cursive;
	font-size: 20px;
	margin-left: 10px;
	
}

.line1 p{
	font-family: 'Pompiere', cursive;
	font-size: 20px;
}

#userType{
	text-align: center;
	color: #006;
	padding-left: 20px;
	font-size:18px;
	text-shadow: 2px 2px rgba(102,102,102,0.5);
	
	
	
}

#rightSideView
{

padding-top: 30px;
margin: 10px;
overflow: auto;
width: 390px;
height: 460px;

	
}

.lineR{
	display:-ms-flexbox;
	flex-direction: row;
	height: 35px;
	
}

.lineR div{
	display:-ms-flexbox;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	height: 35px;
	
	
}

.firstBox{
	font-family: 'Pompiere', cursive;
	font-size: 20px;
	color: #900;
	width: 150px;
}

.firstBox2{
	font-family: 'Pompiere', cursive;
	font-size: 20px;
	color: #000;
	width: 250px;
}

.menuList
{
	cursor: pointer;	
}



#closeButton
{
 	position: absolute;
	top: -15px;
	left: -15px;	
	cursor:pointer;
}


#closeButtonDisplayInfo
{
 	position: absolute;
	top: -15px;
	left: -15px;	
	cursor:pointer;
}

#closeButton2
{
 	position: absolute;
	top: -15px;
	left: -15px;	
	cursor:pointer;
}
#closeModelEditUser
{
 	position: absolute;
	top: -15px;
	left: -15px;	
	cursor:pointer;
}



#imageBox{
	
	width: 100px;
	height:200px;
	padding: 3px;
	
}



#modalBox{
	display:none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	opacity:1;
	-ms-transition: opacity 400ms ease-in;
	z-index: 1000;
	
	
}
#editBoxModal{
	
	display: -ms-flexbox;
	flex-direction: row;
	padding: 10px;
	position:relative;
	top: 150px;
	left: 250px;
	width: 915px;
	height:290px;
	background: -ms-linear-gradient(#fff, #999);
	z-index: 1500;

	transition: opacity 200ms ease-in;
	box-shadow: 3px 3px 3px rgba(255,255,255,0.5);
	
	
	
}


#leftEditBox
{
	border-right: 1px inset gray;
	
}

#rightEditBox
{
	padding: 10px;
	background-image:url(../images/logo2.png);
	background-position:bottom;
	background-repeat:no-repeat;
	
}


#sentImage
{
	color: white;
display: none;
-ms-flex-align: center;
-ms-flex-pack: center;
position: fixed;
left: 260px;
top: 208px;
width: 250px;
height: 0px;
background-color: #333;
opacity: 0.9;	
-ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
transition: ease-in-out 300ms;
z-index: 1500;
	
}
#sentImgFile{
	margin-top: 10px;
	height: 20px;
}


#iconUser{
	width: 20px;
	opacity: 1;
	padding: 0px;
	margin: 0px;
	margin-right: 20px;
	margin-top: 5px;
}
#iconUser:hover{
	opacity: 0.4;
}


#leftArticleReport{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	
	
	width: 270px;
	height: 520px;
	margin-right: 10px;
	margin-top: 10px;
	border-right: 1px ridge gray;
	
}
#rightArticleReport{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-pack: start;
	-ms-flex-align: center;
	margin-top: 20px;
	border: 1px inset #f7f7f7;
	min-width: 600px;
	min-height: 400px;
	height: 470px; 
}

#User_id{
	
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: #9B1D33;
	font-size: 26px;
	background-color: #f7f7f7;
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;
	
}

#containerTopUserReport{
	display:-ms-flexbox;
	flex-direction: row;
	height: 27px;
	width: 250px;
	
	
	}
	
#containerUserReport{
	
	display:-ms-flexbox;
	flex-direction: column;
	height: 400px;
	width: 250px;
	overflow: auto;
	
}
	
	#containerUserReport a{
		padding: 10px;
		}
	
#btnNameReport{
	font-size:16px;
	color: #900;
	width: 100px;
		
		}
#btnLastReport{
	font-size:16px;
	color: #900; 
	width: 150px;
	  }


.lineReportUser{
	display:-ms-flexbox;
	border-bottom: 1px dashed gray;

}


.lineReportUser:hover{
	background-color: #ffd;
	cursor: pointer;
}
.lineLeftReport{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	display:-ms-flexbox;
	-ms-flex-pack: center;
	width: 100px;

}
.lineRightReport{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	display:-ms-flexbox;
	-ms-flex-pack: center;
	width: 147px;

}

#searchReport{
	width: 250px;
	background-color: #F7F7F7;
	height: 50px;
	margin-top: 5px;
	
}

#linkLineReport{
	text-decoration: none;
	color: #000;
}

#containerSerchMenu{
	display:-ms-flexbox;
	flex-direction: row;
	
	
}

#line1SearchReport{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #999;
	margin-bottom: 5px;
}
#leftSearchReport{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	color: #700;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	-ms-flex:1;
	height: 25px;
	border: 1px outset #F7F7F7;
	cursor: pointer;
}
#rightSearchReport{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	color: #700;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	-ms-flex:1;
	height: 25px;
	border: 1px outset #F7F7F7;
	cursor: pointer;
}



#leftSearchReport:hover{
	background-color: #F0F0F0;


}
#rightSearchReport:hover{
	
background-color: #F0F0F0;
}

#leftSearchReport:active{
	background-color: #F0F0F0;
	border: 1px inset #F7F7F7;


}
#rightSearchReport:active{
	
	background-color: #F0F0F0;
	border: 1px inset #F7F7F7;
}

#containerFormSearch{
	display:-ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	transition: ease-in-out 1s;
	width: 250px;
	border: 1px solid #F7F7F7;
	height: 0px;
	margin-top: 2px;
	
	
}


#nameFormReport{
	display: none;
}

#nameFormReport input{
text-align:center;
width: 150px;
font-size:16px;
color: #800;
	
}


#templeIdFormReport{
	display: none;
}

#templeIdFormReport input{
text-align:center;
width: 150px;
font-size:16px;
color: #800;
	
}


#containerReportLoop{
	display:-ms-flexbox;
	flex-direction: row;
	
	border: 1px inset #F7F7F7;
	width: 550px;
	height: 80px;
	margin-top:1px;
	margin-bottom: 1px;
	overflow: hidden;
}

#lineContainerReport{
	display:-ms-flexbox;
	-ms-flex-pack: center;
	height:30px;
}


#leftContainerReport{
	
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	width: 100px;
	height: 80px;
	border-right: 1px ridge gray;
}

#leftContainerReport img{
	
	width: 100px;
}

#rightContainerReport{
	
	width: 450px;
}
.lineRightContainerReport{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	width: 445px;
	height: 25px;
	border-bottom: 1px dashed gray;
	
}
.labelReport{
	
	width: 90px;
	
	margin-left:5px;
	color: #500;
}
.LLCR{
	display:-ms-flexbox;
	flex-direction: row;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	height: 42px;
	overflow:hidden;
}

#spanRed{
	color: #800;
	
}

#spanBlue{
	color: #009;
}

.AnswerReport{
	width: 150px;

}

#boxContainerReport{
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	
	height: 425px;
	
}
#boxContainerReportInside{
	
	display:-ms-flexbox;
	flex-direction: column;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	
	height: 425px;
	overflow:auto;
}

#buttonPDFuser{
	width: 350px;
	height: 30px;
	color: #800;
	font-size:18px;
	margin-top: 20px;
}
#Green{
	color: #080;	
}

#Red{
	color: #D00;	
}

@media only screen and (max-width: 1000px) {
	
}



@media only screen and (max-width: 700px) {
	

	
	
}


#forgetPass{
	position:relative;
	top: -5px;
	font-size: 10px;
	color: #FFF;
	margin-left: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
	